{% set bridge_ports = [] %}
{% set global_vlan_list = [] %}
{% set vlan_list = [] %}

# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["routing"]["lo"]}}

auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto vagrant
iface vagrant inet dhcp

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{# The next block of code will save all of the assigned VLANs to a
global variable of "global_vlan_list." We will use this variable to
populate the VLAN Aware Bridge at the end of this file
#}
{% for interface in node[inventory_hostname]["ports"] %}
{% if node[inventory_hostname]["switching"][interface] is defined %}
{% for vlan2 in node[inventory_hostname]["switching"][interface]["vlans"] %}
{% do global_vlan_list.append(vlan2) %}
{% endfor %}
{% endif %}
{% endfor %}

{%- for interface in node[inventory_hostname]["ports"] -%}
auto {{interface}}
iface {{interface}}
   mtu 9216
{% if node[inventory_hostname]["switching"][interface] is defined %}
{% if node[inventory_hostname]["switching"][interface]["mode"] == "access" %}
{% for vlan in node[inventory_hostname]["switching"][interface]["vlans"] -%}
   {% do bridge_ports.append(interface) -%}
   {% do vlan_list.append(vlan) -%}
{% endfor %}
   bridge-access {{ vlan_list | unique | sort | join(" ") }}
   {% set vlan_list = [] %}
{% endif %}
{% if node[inventory_hostname]["switching"][interface]["mode"] == "trunk" %}
{% for vlan in node[inventory_hostname]["switching"][interface]["vlans"] -%}
   {% do bridge_ports.append(interface) -%}
   {% do vlan_list.append(vlan) -%}
{% endfor %}
   bridge-vids {{ vlan_list | unique | sort | join(" ") }}
   {% set vlan_list = [] %}
{% endif %}
{% endif %}
{% endfor %}

{% if node[inventory_hostname]["overlay"]["vxlan"] is defined %}
{% if node[inventory_hostname]["overlay"]["vxlan"]["vniint"] is not defined %}
{%- for interface in node[inventory_hostname]["overlay"]["vxlan"] -%}
auto {{interface}}
iface {{interface}}
  bridge-access {{ node[inventory_hostname]["overlay"]["vxlan"][interface]["vlan"] }}
  bridge-arp-nd-suppress on
  bridge-learning off
  mstpctl-bpduguard yes
  mstpctl-portbpdufilter yes
  vxlan-id {{ node[inventory_hostname]["overlay"]["vxlan"][interface]["vlan"] }}
  vxlan-local-tunnelip {{ node[inventory_hostname]["routing"]["lo"]|replace("/32", "") }}
{% do bridge_ports.append(interface) -%}
{% endfor %}
{% endif %}
{% endif %}

{% if global_vlan_list != [] %}
auto bridge
iface bridge
    bridge-ports {{ bridge_ports | unique | sort | join(" ") }}
    bridge-pvid 1
    bridge-vids {{ global_vlan_list | unique | sort | join(" ") }}
    bridge-vlan-aware yes
{% endif %}
